<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alimonia.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E25EBD3A25C0338C00F9B021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E25EBD4B25C0338D00F9B021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E25EBD5625C0338D00F9B021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
